@font-face {
    font-family: default-mono;
    src: url('../fonts/hack_regular.ttf');
}
@font-face {
    font-family: default-text;
    src: url('../fonts/arvo_regular.ttf');
}

html {
    overflow-y: scroll;
}

body { 
    margin: 0;
    /* To place footer in a sticky fashion at the bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* HEADER */

header {
    width: 40%;
    margin: 0 auto;
    padding: 2em 0;
    background-color: #063440;
} 

header .wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 0 auto;
}

header .wrapper .col-left {
    width: 40%;
    margin: auto;
    margin-right: 1.5em;
    color: white;
}

header .wrapper .col-left h1, h4{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: default-mono;
}

header .wrapper .col-left h1 {
    font-weight: normal;
    font-size: 1.5vw;
}

header .wrapper .col-left h4 {
    font-weight: normal;
    font-size: 1vw;
    padding-top: 1.1em;
    color: #269186;
}

header .wrapper .col-left img {
    display: block;
    margin: auto;
    padding-top: 1.5em;
    max-width: 80%;
}

header .wrapper .col-right {
    margin: auto;
    background-color: #063440;
    color: #839496;
    font-family: default-mono;
    font-size: 0.8vw;
}

header .wrapper .col-right p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
}


/* MENU */

nav {
    margin: auto;
    width: 40%;
    background-color: #002b36;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

nav .items {
    width: auto;
    max-width: 75%;
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
}

nav .items label {
    justify-content: center;
    margin: 0 auto;
    padding: 1.1em 1em;
    cursor: pointer;

    font-family: default-mono;
    font-size: 1.2em;
    color: #586e75;
    text-decoration: none;
    
    /* Transition support for all browsers */
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

nav .items label:hover {
    background-color: #063440;
    color: 	#93a1a1;
}


/* MENU NAVIGATION  & RESPONSIVE CSS */

input[type=radio] {
    display: none;
}

/* Set active (selected) menu using radio button trick */
#about-radio:checked ~ nav .items .about, 
#projects-radio:checked ~ nav .items .projects,
#contact-radio:checked ~ nav .items .contact { 
    background-color: #063440;
    color: white;
}

/* Resizes menu according to window size */
@media (max-width: 70em) {
    header {
        width: 100%;
    }
    /* Removes entire right column */
    header .wrapper .col-right {
        display: none;    
    }
    /* Removes left column image */
    header .wrapper .col-left img {
        display: none;
    }
    /* Resizes header padding to make left column bigger */
    header {
        padding: 1.2em 0;
    }
    /* Centers left column */
    header .wrapper .col-left {
        width: 100%;
        display: block;
        margin: auto;
    }
    /* Changes title styles */
    header .wrapper .col-left h1 {
        font-size: 1.6em;
    }
    header .wrapper .col-left h4 {
        padding-top: 0.5em;
        font-size: 0.8em;
    }
    
    /* Changes nav items on resize */
    nav {
        width: 100%;
    }
    nav .items {
        max-width: 90%;
    }
    nav .items label {
        font-size: 1.1em;
    }
    
    /* Changes content width on resize */
    main .content {
        width: 95% !important;
    }
    
    /* Changes about content on resize */
    main .about .bio {
        float: none !important;
        display: block !important;
        margin: auto !important;
        margin-bottom: 2em !important;
    }
    main .about .bio .bio-footer {
        display: none;
    }
    main .about .bio img {
        border-bottom-left-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }
    
    /* Changes projects content on resize */
    main .projects .proj-item .proj-icon {
        display: none;
    }
    main .projects .proj-item .proj-desc {
        width: 100% !important;
        margin: 0 !important;
    }
}


/* CONTENT */

main {
    /* Pushes footer down to bottom of page */
    flex: 1;
}

/* Show when checked */
#about-radio:checked ~ main .about, 
#projects-radio:checked ~ main .projects, 
#contact-radio:checked ~ main .contact {
    position: relative;
    top: 0;
    opacity: 100;
}

main .content {
    /* Hide content by default */
    position: absolute;
    top: -1000em;
    /*Use opacity instead of 'display: none' so that CSS transitions work */
    opacity: 0;

    margin: 2em auto;
    width: 65%;
    background-color: white;
    font-family: default-text;
    text-align: justify;
    color: black;
    
    /* Adds transitions between content changes */
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

main .content a {
    color: #269186;
    text-decoration: none;
}

main .content a:hover {
    text-decoration: underline;
}


main .about .bio {
    width: 40vw;
    max-width: 300px;
    float: right;
    margin-left: 2em;
    margin-bottom: 0.8em;
}

main .about .bio img {
    width: 100%;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

main .about .bio .bio-footer {
    background-color: #063440;
    font-family: default-mono;
    text-align: left;
    font-size: 0.8em;
    color: #839496;
    padding: 1em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

main .about .bio .bio-footer p {
    margin: 0;
}

main .projects .proj-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3em;
    border-bottom: 1px solid #536871;
    padding-bottom: 1em;
}

main .projects .proj-item .proj-icon {
    width: 25%;
}

main .projects .proj-item .proj-icon img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 256px;
    margin-bottom: 1em;
    border-radius: 1em;
}

main .projects .proj-item .proj-desc {
    width: 75%;
    margin-left: 2em;
}

main .projects .proj-item .proj-desc h2 {
    color: #bb3700;
    margin-top: 0;
    text-align: left;
}

main .projects .proj-item .proj-desc h1 {
    font-weight: normal;
    font-size: 1em;
    margin: 0.5em 0;
    text-align: left;
}

main .projects .proj-item .proj-desc .lang {
    color: #a57800;
}

main .projects .proj-item .proj-desc p {
    margin: 1.5em 0 0 0;
}

main .projects .proj-item .proj-desc ul {
    margin: 0.5em 0;
}

main .projects .last {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

main .contact .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 1px solid #536871;
    margin-top: 3em;
    padding-top: 2em;
    
}

main .contact .links a {
    text-decoration: none;
    margin: 0.5em 1.5em 2em;
}

main .contact .links img {
    height: 64px;
}


/* FOOTER */
footer {
    padding: 0.75em 0;
    background-color: #063440; 
}

footer p {
    margin: 0;
    font-family: default-mono;
    text-align: center;
    color: #839496;
}
